.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.game-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
