body {
    margin: 0;
    font-family: sans-serif;
}

.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.controller {
    height: 90px;
}

.nav-cont {
    background-color: rgb(255,255,255);
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.nav-cont, .game-cont, .footer {
    padding-left: 15%;
    padding-right: 15%;
}

.nav-title {
    font-size: 30px;
    text-align: center;
    font-family: monospace;
}

.separator {
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(51, 51, 51);
    width: 100%;
}

.game-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(225, 223, 223);
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    height: 30px
}

.footer-separator {
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(51, 51, 51);
    background-color: rgb(225, 223, 223);
    margin-left: 0;
    margin-right: 0;
}

.footer-social-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer {
    background-color: black;
    background-color: rgb(225, 223, 223);
    color: rgb(51, 51, 51);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
