.game-cont {
    min-height: 600px;
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding-bottom: 21px;
}

.game-sub-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    font-weight: bold;
    font-size: 20px;
}

.board-cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.board-cont>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-style {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    height: 450px;
    width: 450px;
}

.square {
    border-style: solid;
    margin: 1px;
}

.hover:hover {
    background-color: gray;
    cursor: pointer;
}

button {
    padding: 20px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}
