.game-cont {
    min-height: 600px;
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding-bottom: 21px;
}

.game-sub-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    font-weight: bold;
    font-size: 20px;
}

.board-cont {
    display: flex;
    gap: 20px;
    align-items: center;
}

.board-cont>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-style {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    height: 450px;
    width: 450px;
}

.square {
    border-style: solid;
    margin: 1px;
    /* background-color: rgb(18, 18, 119); */
}

.hover:hover {
    background-color: gray;
    cursor: pointer;
}

button {
    padding: 20px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

.status {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.status>div {
    height: 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 0;
}

.player1Board {
    z-index: 1;
}

.player1SvgBoard {
    justify-content: flex-end;
}

.svg-ship {
    height: 100%;
    width: 100%;
    transform-origin: center;
}
