.game-cont {
    background-color: rgb(241, 241, 241);
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn {
    border-style: solid;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center; /* centers text vertically */
    background-color: white;
    margin-bottom: 10px;
}

.selected {
    background-color: rgb(130, 124, 124);
    font-weight: bold;
    font-size: large;
}

.board-cont {
    border-style: solid;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
}

.btn:hover {
    background-color: rgb(130, 124, 124);
    cursor: pointer;
    color: white;
    transform: scale(1.05);
}

.board-cont>div:hover {
    background-color: rgb(130, 124, 124);
    cursor: pointer;
}

.board-cont>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-color: rgb(46, 42, 42);
}

.white {
    background-color: rgb(255, 255, 255);
}

.knight {
    width: 50px;
}

.step-marker {
    font-weight: bold;
    font-size: 17px;
    position: absolute;
}

.marker-background {
    background-color: rgb(208, 217, 177);
}

.knight, .end-marker, .step-marker {
    filter: invert(58%) sepia(66%) saturate(4569%) hue-rotate(161deg) brightness(95%) contrast(101%); /* filter is used to change color of SVGs */
}
